/*
font-family: 'Montserrat', sans-serif;
font-family: 'Fraunces', serif;
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    background-color: hsl(30, 38%, 92%);

    display: flex;
    justify-content: center; /*alinea el contenido horizontalmente*/
    align-items: center; /*alinea el contenido verticalmente*/

    height: 100dvh; /*100% del viewport height*/
}

main {
    border: 1px solid red;

    width: 650px;
    height: 400px;
    
    display: flex;

    border-radius: 14px;
    overflow: hidden;
}

.photo{
    background-color: orange;
    width: 300px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover; /*cubre todo el espacio del elemento*/
    background-repeat: no-repeat;

}

.content{
    background-color: green;
    width: 350px;
}