/*Resenteando el espacio de navegadores de h1*/
h1{
    margin: 0;
}

body{
    background-color: hsl(148, 38%, 91%);

    font-family: "Karla", sans-serif;
    /*font-size: 16px; Por default se coloca 16 pero para aprender se coloca 16*/

    display: flex;
    justify-content: center; /*Alineamiento horizontal*/
    align-items: center; /*Alineamiento vertical*/  

    height: 100dvh;
}

.contact-form {
    background-color: hsl(0, 0%, 100%);

    width: 400px;

    padding: 32px;  /*El doble de la fuente 16px * 2*/

    border-radius: 16px; /*Se trata de tomar en base al tamaño de letra*/
}

.contact-form h1 {
    color: hsl(169, 82%, 27%);
    margin-bottom: 32px;
}

label {
    display: block;
    margin-bottom: 16px; 
}

label input[type=text],
label input[type=email],
label textarea {
    display: flex;
    margin-bottom: 16px;
    margin-top: 8px;

    width: 100%;
    border-radius: 8px;
    border-radius: 1px solid hsl(148, 38%, 91%);
    padding: 16px;
    
    box-sizing: border-box;

}

.row    {
    /*border: 1px solid blue;*/

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;    
}

input[type=submit]{
    width: 100%;
    border: none;

    background-color: hsl(169, 82%, 27%);
    color: white;
    padding: 16px;
    border-radius: 8px;

    font-weight: 700;
    letter-spacing: 1px;

    font-family: inherit;
}

.required {
    color: hsl(169, 82%, 27%);
    font-weight: 700;
}

.query-type {
    border: 1px solid hsl(186, 15%, 59%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    margin-bottom: 16px;

}

.query-type label {
    margin-bottom: 0;
}

.flex {
    display: flex;
    gap: 8px;
}